.post {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(125, 125, 125, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(125, 125, 125, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(125, 125, 125, 0.75);
}

.date {
    font-size: 11px
}

.fs-12,
.comment-text {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

.info-post {
    padding-left: 15px;
}

.comment {
    margin-top: 5%;
    margin-left: 20px;
}