<div class="post mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-12">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info">
                        <img class="rounded-circle" src="/assets/{{autor.profile}}.jpg" width="40" height="50">
                        <div class="d-flex flex-column justify-content-start ml-2 info-post">
                            <span class="d-block font-weight-bold name">{{autor.nombre}} {{autor.apellido}}</span>
                            <span class="date text-black-50">{{fecha_publicacion}}</span>
                        </div>
                        <div *ngIf="bandera == true">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="edit = !edit">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar Post</span>
                                </button>
                                <button mat-menu-item (click)="eliminar(post_id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar Post</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div *ngIf=" edit == false">
                            <p class="comment-text">{{contenido}}</p>
                        </div>
                        <div *ngIf=" edit == true">
                            <form (ngSubmit)="editarPost(post_id)">
                                <textarea name="" id="" cols="90" rows="5" [(ngModel)]="contenido" [ngModelOptions]="{standalone: true}"></textarea>
                                <br>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button class="btn btn-danger mx-3" (click)="edit = !edit">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor">
                            <button (click)="evalLike()" class="btn">
                                <i class="fa-solid fa-thumbs-up mx-2"></i>
                                <span class="ml-1">Like {{cantidad_likes}}</span>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start">
                        <img class="rounded-circle" src="assets/{{user.profile}}.jpg" width="30">
                        <textarea (input)="onContenidoChange($event)"
                            class="form-control ml-1 shadow-none textarea"></textarea>
                    </div>
                    <div class="mt-2 text-right">
                        <button (click)="comentar()" class="btn btn-primary btn-sm shadow-none"
                            type="submit">Comentar</button>
                    </div>
                </div>

            </div>

            <div class="comment mt-4 text-justify float-left" *ngFor="let c of comentarios">
                <div class="d-flex flex-row user-info">
                    <img src="/assets/{{c.profile}}.jpg" alt="" class="rounded-circle" width="40" height="50">
                    <div class="d-flex flex-column justify-content-start ml-2 info-post">
                        <span class="d-block font-weight-bold name">{{c.autor}}</span>
                        <span class="date text-black-50">{{c.fecha_comentario}}</span>
                    </div>
                </div>
                <br>
                <p>{{c.contenido_comentario}}</p>
            </div>

        </div>
    </div>
</div>