.info {
    padding-top: 100px;
}

.my-custom-class {
    color: #000000;
    font-size: 12px;
}

.main {
    width: 75%;
    height: 75%;
    margin-left: 1%;
}

.contenedor {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.portada img,
.contenedor-perfil img {
    width: 100%;
    height: auto;
    display: block;
}

.rotulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    top: 0;
    margin: 220px 0 0 50px;
}

.rotulo p {
    font-size: 25px;
}

.contenedor-perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

@media (max-width: 991.98px) {

    .contenedor {
        height: 200px;
    }

    .main {
        width: 90%;
    }

    .rotulo {
        margin-top: 200px;
    }

    .contenedor-perfil {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 767.98px) {

    .info {
        padding-top: 50px;
    }

    .contenedor {
        height: 200px;
    }

    .main {
        width: 95%;
    }

    .rotulo {
        margin-top: 200px;
    }

    .contenedor-perfil {
        width: 75px;
        height: 75px;
    }

    .rotulo p {
        margin-top: 50px;
        font-size: 15px;
    }
}