<section class="ftco-section pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(assets/login.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h1 class="mb-4">Ingresar</h1>
                            </div>
                        </div>
                        <form (ngSubmit)="Ingresar()" autocomplete="off" [formGroup]="miFormulario" class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" for="email">Email</label>
                                <input type="text" class="form-control" placeholder="Email" formControlName="email" name="email">
                                <span class="form-text text-danger" *ngIf="campoEsValido('email')">
                                    No es un email válido
                                  </span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" name="password">
                                <span class="form-text text-danger" *ngIf="campoEsValido('password')">
                                    Es un campo obligatorio
                                  </span>
                            </div>
                            <div class="form-group pt-3">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3" [disabled]="miFormulario.invalid">Ingresar</button>
                            </div>
                        </form>
                        <p class="text-center">¿No eres miembro? <a data-toggle="tab" routerLink="/registro">Registrarse</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>